{% extends 'base.html.twig' %}

{% block title %}Adhésion{% endblock %}

{% block body %}
<div class="h3 text-center mt-5 titleSecondary">Adhérer</div>
    <div class="container">

        <div class="row row1 mb-5">
            {% for item in products %}
                <div class="col-md-4 col-sm-12 col-lg-4">
                    <div class="card text-center">
                        <div class="d-flex justify-content-center">
                            <img src="{{asset('assets/' ~ item.path )}}" class="card-img-top img-fluid" alt="{{item.title}}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="card-category text-center">{{item.category}}</p>
                            <h6 class="card-text">{{item.price|number_format(2, ', ', ' ')}} €</h6>
                            <input type="hidden" name="productId" id="productId" class="productId" value="{{item.id}}">
                            <a class="btn add" id="add" productId="{{item.id}}" name="add">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        
        </div>
</div>

    {% block javascripts %}
        <script> 
            $(document).ready(function() {


                $('.add').each(function(){
                    $(this).click(function(event){
                        event.preventDefault();
                        let id = $(this).attr('productId');     
                        let addBasket = $(this).text();                   
                        let url = window.location.href + '/add/' + id;
                        $.ajax({
                            method: 'POST',
                            url: url,
                            dataType: 'html',
                            success:function(){	
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Article ajouté au panier !',
                                showConfirmButton: false,
                                timer: 1000
                                })
                            },
                            error:function(){
                            alert('non');
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Oups...',
                                    text: 'Pas bon',
                                    confirmButtonColor: '#34465f',
                                })
                            }
                        });//Fermeture Ajax
                    });//Fermeture click
                });//each

                $('.card').each(function(){
                    $(this).mouseenter(function(){
                        $(this).css({'-webkit-box-shadow': '-2px 6px 36px -15px rgba(46,44,46,1)', '-moz-box-shadow': '-2px 6px 36px -15px rgba(46,44,46,1)', 'box-shadow': '-2px 6px 36px -15px rgba(46,44,46,1)','transition':'2s'});
                    }).mouseleave(function(){
                        $(this).css({'box-shadow':'none'});
                    });
                });

                $('.features1').mouseenter(function(){
                    $('.features').each(function(){
                        $(this).css({'background-color':'#ebebeb3d', 'transition':'1s', 'color':'#1e1e1e'});
                    }).mouseleave(function(){
                        $(this).css({'background-color':'#ebebeb', 'transition':'1s', 'color':'#48433c'});
                    });
                });//mouse enter

            }); //fermeture document.ready
        </script>
    {% endblock %}
{% endblock %}
