{% extends "baseAdmin.html.twig" %}


{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="h3 text-center text-secondary">Les derniers messages reçus</h3>

        <div class="container">  
            {% for item in allMessages %}
                <div class=" mt-5 allMessages p-3 mb-4" >
                    <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center ">
                        <p class="lead allMessagesItems bg-light p-2 col-sm-12 col-md-6 col-lg-6 text-center rounded-pill" >Message de <strong>{{item.name}}</strong></p>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">

                        <p class="lead allMessagesItems bg-light p-2 col-sm-12 col-md-6 col-lg-6 text-center rounded-pill" ><i>{{item.email}}</i></p>  
                    </div>       

                    <label for="" class="lead font-weight-bold text-center col-12 mt-1">Message </label>               
                    <p class="lead d-flex flex-column allMessagesItems bg-light p-2">{{item.content}}</p>                        
                    <p class="lead allMessagesItems text-white" >Reçu le {{item.createdAt|slice(4, 13)}} à {{item.createdAt|slice(17, -5)}}</p>                   
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}