{% extends "baseAdmin.html.twig" %}

{% block title %}Voir tous les utilisateurs{% endblock %}
{% block body %}

<div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h2 class="text-secondary titleAdmin text-center">Tous les<b> utilisateurs</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Id utilisateur</th>
                        <th class="text-center">Nom d'utilisateur</th>						
                        <th class="text-center">Date d'inscription</th>
                        <th class="text-center">Téléphone</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Inscrit à la newsletter</th>
                        <th class="text-center">Pays</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in users %}
                    <tr>
                        
                        <td class="text-center">{{item.id}}</td>
                        <td class="text-center">{{item.username}}</td>
                        <td class="text-center">{{item.createdAt|slice(4, 13)}}</td>                        
                        <td class="text-center">{{item.phone}}</td>
                        <td class="text-center">{{item.email}}</td>
                        <td class="text-center newsletter">{{item.newsletter}}</td>
                        <td class="text-center">{{item.country|country_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        
    {% block javascripts %}
        <script>
            $(document).ready(function(){

                $('.newsletter').each(function(){
                    if($(this).text() == 1){
                        $(this).text("Inscrit");
                        $(this).css({"color":"green", "font-weight":"10px solid black"});
                    }else{
                        $(this).text("Non inscrit");
                        $(this).css({"color":"red", "font-weight":"10px solid black"});


                    }
                })


            });
        </script>

        {% endblock %}

{% endblock %}