{% extends 'base.html.twig' %}

{% block title %}Catégories missions{% endblock %}

{% block body %}


            <div class="container">
                <div class="h3 text-center titleSecondary"> Nos différentes missions</div>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center mt-4 missionAll">
                <div class="container mb-5">
                        <div class="row mt-5 justify-content-center">
                            <div class="col-md-6 col-sm-8 col-lg-4 missionContainer">
                                <a href="{{path('missions_articles', {'category':'education'})}}" class="missionLink"><div class=" text-white rounded-circle missionItem" style="height:318px;font-size: 3em;display:flex;align-items:center;justify-content:center; background-image:url({{asset('assets/img/education.png')}});">Éducation</div></a>
                            </div>
                            
                            <div class="col-md-6 col-sm-8 col-lg-4 missionContainer">
                                <a href="{{path('missions_articles', {'category':'sante'})}}" class="missionLink"><div class="rounded-circle missionItem text-white" style="height:318px;font-size: 3em;display:flex;align-items:center;justify-content:center; background-image:url({{asset('assets/img/sante.png')}})">Santé</div></a>
                            </div>


                            <div class="col-md-6 col-sm-8 col-lg-4 missionContainer">
                                <a href="{{path('missions_articles', {'category':'social'})}}" class="missionLink"><div class="rounded-circle missionItem text-white" style="height:318px;font-size: 3em;display:flex;align-items:center;justify-content:center; background-image:url({{asset('assets/img/social.png')}})">Social</div></a>
                            </div>      
                        </div>
                        
                        <div class="row mt-5 mb-5">               
                            <div class="col-md-6 col-sm-8 col-lg-4 missionContainer">
                                <a href="{{path('missions_articles', {'category':'economie'})}}" class="missionLink"><div class="rounded-circle missionItem text-white" style="height:318px;font-size: 3em;display:flex;align-items:center;justify-content:center;background-image:url({{asset('assets/img/agriculture.png')}})">Économie</div></a>
                            </div>                            
                                                        
                            <div class="col-md-6 col-sm-8 col-lg-4 missionContainer">
                                <a href="{{path('missions_articles', {'category':'eau'})}}" class="missionLink"><div class="rounded-circle missionItem text-white" style="height:318px;font-size: 3em;display:flex;align-items:center;justify-content:center;background-image:url({{asset('assets/img/eau.png')}})">Eau</div></a>
                            </div>                            
                                                        
                            <div class="col-md-6 col-sm-8 col-lg-4 missionContainer mb-5">
                                <a href="{{path('missions_articles', {'category':'ecologie'})}}" class="missionLink"><div class="rounded-circle missionItem text-white" style="height:318px;font-size: 3em;display:flex;align-items:center;justify-content:center; background-image:url({{asset('assets/img/ecologie.png')}})">Écologie</div></a>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}
