{% extends "baseAdmin.html.twig" %}

{% block body %}

        {% if formValid is defined %}
            {% if formValid == true %}
                <div class="alert alert-success text-center mb-5">
                Partenaire mis à jour !
                </div>
            {% endif %}
        {% endif %}


<div class="row mt-5">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <h3 class="h3 text-secondary">Tous vos partenaires</h3>


        <table class="table table-striped table-light mt-5">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="2"><a href="#institutionnels" class="btn btn-secondary">Aller à institutionnels</a></th>
                    <th scope="col" colspan="2"><a href="#prives" class="btn btn-secondary">Aller à privés</a></th>
                    <th scope="col" colspan="2"><a href="#medias" class="btn btn-secondary">Aller à médias</a></th>
                    <th scope="col" colspan="2"><a href="#associatifs" class="btn btn-secondary">Aller à associatifs</a></th>
                </tr>
            </thead>
            <tbody>
                {% for item in institutionnelsImages %}
                    <tr id="institutionnels">
                        <th scope="row" class="category align-middle display-4">{{item.category}}</th>
                        <td scope="col">
                            <img src="{{asset('assets/img/' ~ item.img1)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img2)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img3)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        

                        <td scope="col">
                            <img src="{{asset('assets/img/' ~ item.img4)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img5)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img6)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img7)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        

                        <td scope="col">
                            <img src="{{asset('assets/img/' ~ item.img8)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>        

                    </tr>                
                    <tr>
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img9)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img10)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img11)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img12)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img13)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img14)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img15)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img16)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>   
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img17)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                          
                    </tr>
                    <tr>
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img18)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img19)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img20)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img21)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img22)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img23)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img24)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img25)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>   
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img26)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                          
                    </tr>
                    <tr>
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img27)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img28)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img29)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                            
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img30)}}" alt="image partenaire institutionnels" class="institutionnels img-fluid">
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                                                                        
                    </tr>
                   
                    
                {% endfor %}
                
               
                {% for item in privesImages %}
                    <tr id="prives">
                        <th scope="row" class="category align-middle display-4">{{item.category}}</th>
                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img1)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img2)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img3)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img4)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img5)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img6)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img7)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img8)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        
                    </tr>
                    <tr>                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img9)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img10)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img11)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img12)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img13)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img14)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img15)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img16)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img17)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                    </tr>
                    <tr>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img18)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img19)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img20)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img21)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img22)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img23)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img24)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img25)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img26)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                    </tr>
                    <tr>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img27)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img28)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img29)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img30)}}" alt="image partenaire privés" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                                  
                    </tr>
                {% endfor %}
                
                {% for item in mediasImages %}
                      <tr id="medias">
                        <th scope="row" class="category align-middle display-4">{{item.category}}</th>
                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img1)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img2)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img3)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img4)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img5)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img6)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img7)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img8)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        
                    </tr>
                    <tr>                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img9)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img10)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img11)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img12)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img13)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img14)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img15)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img16)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img17)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                    </tr>
                    <tr>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img18)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img19)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img20)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img21)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img22)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img23)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img24)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img25)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img26)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                    </tr>
                    <tr>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img27)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img28)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img29)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img30)}}" alt="image partenaire médias" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                                  
                    </tr>
                {% endfor %}
                
                {% for item in associatifImages %}
                    <tr id="associatifs">
                        <th scope="row" class="category align-middle display-4">{{item.category}}</th>
                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img1)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img2)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img3)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img4)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img5)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img6)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img7)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img8)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        
                    </tr>
                    <tr>                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img9)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img10)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img11)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img12)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img13)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img14)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img15)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img16)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img17)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                    </tr>
                    <tr>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img18)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img19)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img20)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img21)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img22)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img23)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img24)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                        
                        <td>
                        
                            <img src="{{asset('assets/img/' ~ item.img25)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                            
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                            </div>
                        </td>                        
                        
                        <td>
                            <img src="{{asset('assets/img/' ~ item.img26)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                            <div class="mt-1">
                                <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning ">Modifier</a>
                            </div>
                        </td>                        
                    </tr>
                    <tr>                        
                        
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img27)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img28)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img29)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                           
                        <td >
                            <img src="{{asset('assets/img/' ~ item.img30)}}" alt="image partenaire associatif" class="institutionnels img-fluid">
                        
                        <div class="mt-1">
                            <a href="{{path('partners_update_admin', {'id': item.id} )}}" class="btn btn-warning">Modifier</a>
                        </div>
                        </td>                                  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>





    {% block javascripts %}

        <script>
            $(document).on('click', 'a[href^="#"]', function (event) {
                event.preventDefault();

                $('html, body').animate({
                    scrollTop: $($.attr(this, 'href')).offset().top
                }, 500);
            });
        </script>
    {% endblock %}


{% endblock %}