<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Accueil F A I D N{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header id="header" class="header" style="background-image:url({{asset('assets/img/bisso.png')}}); height:300px;">
        <nav id="nav-bar" class="nav" class="p-3" style="">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link homeNav {% if (app.request.pathInfo == path('home')) %} text-info{% endif %}" href="{{path('home')}}"><img src="{{asset('assets/img/logo.png')}}" alt="" class="img-fluid"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if (app.request.pathInfo == path('events_home')) %} text-info{% endif %}" href="{{path('events_home')}}">Évènements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if (app.request.pathInfo == path('missions_home')) %} text-info{% endif %}" href="{{path('missions_home')}}">Nos missions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if (app.request.pathInfo == path('projects_home')) %} text-info{% endif %}" href="{{path('projects_home')}}">Nos projets</a>
                </li>      
                <li class="nav-item">
                    <a class="nav-link nav-link {% if (app.request.pathInfo == path('member_home')) %} text-info{% endif %}" href="{{path('member_home')}}">Adhérer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link {% if (app.request.pathInfo == path('partners_home')) %} text-info{% endif %}" href="{{path('partners_home')}}">Partenaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link {% if (app.request.pathInfo == path('contact_home')) %} text-info{% endif %}" href="{{path('contact_home')}}">Nous contacter</a>
                </li>

                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link nav-link" href="{{path('security_logout')}}">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link nav-link {% if (app.request.pathInfo == path('security_login')) %} text-info{% endif %}" href="{{path('security_login')}}">Se connecter</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link nav-link {% if (app.request.pathInfo == path('cart_home')) %} text-info{% endif %}" href="{{path('cart_home')}}">Mon panier</a>
                </li>
            </ul>
        </nav>
        <div class="d-flex align-items-center" style="width:100%;">
            <div class="home-toggle">
                <a class="nav-link homeNavToggle {% if (app.request.pathInfo == path('home')) %} text-info{% endif %}" href="{{path('home')}}"><img src="{{asset('assets/img/logo.png')}}" alt="" class="img-fluid navLogo"></a>
            </div>

            <button class="nav-toggle" aria-label="Toggle navigation" aria-expanded="false">
                <span class="visuallyhidden"></span>
                <span class="hamburger" style="background-color:#509496;height: 9px;"></span>
            </button>
        </div>
    </header>

    <main class="row mt-5">
        {% block body %}{% endblock %}
    </main>

    <!-- Début footer -->

    <footer class="footer">
        <div class="container pt-3">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Suivez-nous !</h3>
                    <ul class="d-flex justify-content-around mt-4">
                        <li><a href="#"><i class="fab fa-facebook-messenger fa-2x"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
                    </ul>

                <div class="text-center mt-2"><a href="{{path('contact_home')}}"><i class="far fa-envelope fa-2x"></i>&nbsp;Nous écrire</a></div>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3 class="">Nous trouver</h3>
                    <ul class="mt-4">
                        <li class="text-justify item">1342, rue Moukoukoulou <br> plateau des 15ans Arrondissement 4 <br> Moungali, Brazzaville, Congo</li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Contact direct</h3>
                        <div class="row">
                        <p class="mt-4 text-center col-6">
                        <a href="tel:00242066494849">(+242) 06 649 48 49 </a><br> 
                        <a href="tel:00242064503131">(+242) 06 450 31 31</a><br> 
                        <a href="tel:00242066652555">(+242) 06 665 25 55</a><br>
                        </p>
                        <p class="col-6 text-uppercase refPref">Réf. Préfecture :<br><br><small><strong>048/18/MID/DBZV/SG/DDSP/SR</strong> Du 19/01/2018</small></p>
                    </div>
                </div>
            </div>
            <p class="copyright text-center"><a href="https://rashidtamboura.fr">Rashid Tamboura © 2020</a></p>
        </div>
    </footer>
    <!-- Fin footer -->

        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="{{asset('assets/js/script.js')}}"></script>
        {% block javascripts %}{% endblock %}
</body>

</html>
