{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}


        <div class="col-md-12 col-sm-12 col-md-12 mb-5">
            <div class="container mb-5">
            <h4 class="text-secondary text-center">Nos parteniariats sont identifés comme :</h4>
                <ul class="text-center">
                    <li>Membres (associations et ONG, chefs d'entreprise et acteurs de la diaspora) <br><br> Le parrainage entreprise (management, insertion professionnelle, couverture médiathique)</li>
                    <li class="mt-4">Partenaires Institutionnels</li>
                </ul>                
            </div>
        
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 mt-2 mb-2">
            <div class="container">
                <h6 class="h6 text-center partnerTitle">Institutionnels</h6>
            </div>
            <div class="container mt-3 d-flex justify-content-center">
             <div id="carouselExampleSlidesOnly" class="carousel slide text-center partnerSlide" data-ride="carousel" data-interval="3000" style=" height: 33vh !important;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                {% for item in institutionnelsImages %}
            
                      <img src="{{asset('assets/img/' ~ item.img1)}}" alt="image partenaire institutionnels" class="institutionnels">
                    </div>
                    <div class="carousel-item">
                        <img src="{{asset('assets/img/' ~ item.img2)}}" alt="image partenaire institutionnels" class="institutionnels">                    
                    </div>

                    <div class="carousel-item">
                        <img src="{{asset('assets/img/' ~ item.img3)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                    </div>

                    {% if item.img4 is defined %}
                        <div class="carousel-item">
                            <img src="{{asset('assets/img/' ~ item.img4)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                        </div>
                        {% else %}
                        {% endif %}

                        {% if item.img5 is defined and item.img5 | length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img5)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                        {% if item.img6 is defined and item.img6 | length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img6)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                        
                        {% if item.img7 is defined and item.img7| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img7)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img8 is defined and item.img8| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img8)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img9 is defined and item.img9| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img9)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img10 is defined and item.img10| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img10)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img11 is defined and item.img11| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img11)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img12 is defined and item.img12| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img12)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img13 is defined and item.img13| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img13)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img14 is defined and item.img14| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img14)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img15 is defined and item.img15| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img15)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img16 is defined and item.img16| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img16)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img17 is defined and item.img17| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img17)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img18 is defined and item.img18| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img18)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img19 is defined and item.img19| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img19)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img20 is defined and item.img20| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img20)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img21 is defined and item.img21| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img21)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img22 is defined and item.img22| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img22)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img23 is defined and item.img23| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img23)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img24 is defined and item.img24| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img24)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img25 is defined and item.img25| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img25)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img26 is defined and item.img26| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img26)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img27 is defined and item.img27| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img27)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img28 is defined and item.img28| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img28)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img29 is defined and item.img29| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img29)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img30 is defined and item.img30| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img30)}}" alt="image partenaire institutionnels" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                {% endfor %}
                    </div>
                </div>
            </div>
        </div> 
        
        
        <div class="col-md-12 col-sm-12 col-lg-12 mt-5 mb-2">
            <div class="container">
                <h6 class="h6 text-center partnerTitle ">Privés</h6>
            </div>
            <div class="container mt-3 d-flex justify-content-center">
             <div id="carouselExampleSlidesOnly" class="carousel slide text-center" data-ride="carousel" data-interval="3000" style=" height: 33vh !important;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                {% for item in privesImages %}
            
                      <img src="{{asset('assets/img/' ~ item.img1)}}" alt="image partenaire privés" class="institutionnels">
                    </div>
                    <div class="carousel-item">
                        <img src="{{asset('assets/img/' ~ item.img2)}}" alt="image partenaire privés" class="institutionnels">                    
                    </div>

                    <div class="carousel-item">
                        <img src="{{asset('assets/img/' ~ item.img3)}}" alt="image partenaire privés" class="institutionnels">                      
                    </div>

                    {% if item.img4 is defined %}
                        <div class="carousel-item">
                            <img src="{{asset('assets/img/' ~ item.img4)}}" alt="image partenaire privés" class="institutionnels">                      
                        </div>
                        {% else %}
                        {% endif %}

                        {% if item.img5 is defined and item.img5 | length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img5)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                        {% if item.img6 is defined and item.img6 | length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img6)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                        
                        {% if item.img7 is defined and item.img7| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img7)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img8 is defined and item.img8| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img8)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img9 is defined and item.img9| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img9)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img10 is defined and item.img10| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img10)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img11 is defined and item.img11| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img11)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img12 is defined and item.img12| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img12)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img13 is defined and item.img13| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img13)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img14 is defined and item.img14| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img14)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img15 is defined and item.img15| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img15)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img16 is defined and item.img16| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img16)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img17 is defined and item.img17| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img17)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img18 is defined and item.img18| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img18)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img19 is defined and item.img19| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img19)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img20 is defined and item.img20| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img20)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img21 is defined and item.img21| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img21)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img22 is defined and item.img22| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img22)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img23 is defined and item.img23| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img23)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img24 is defined and item.img24| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img24)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img25 is defined and item.img25| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img25)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img26 is defined and item.img26| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img26)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img27 is defined and item.img27| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img27)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img28 is defined and item.img28| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img28)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img29 is defined and item.img29| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img29)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img30 is defined and item.img30| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img30)}}" alt="image partenaire privés" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-12 col-sm-12 col-lg-12 mt-5 mb-2">
            <div class="container">
                <h6 class="h6 text-center partnerTitle ">Médias</h6>
            </div>
            <div class="container mt-3 d-flex justify-content-center">
             <div id="carouselExampleSlidesOnly" class="carousel slide text-center" data-ride="carousel" data-interval="3000" style=" height: 33vh !important;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                {% for item in mediasImages %}
            
                      <img src="{{asset('assets/img/' ~ item.img1)}}" alt="image partenaire médias" class="institutionnels">
                    </div>
                    <div class="carousel-item">
                        <img src="{{asset('assets/img/' ~ item.img2)}}" alt="image partenaire médias" class="institutionnels">                    
                    </div>

                    <div class="carousel-item">
                        <img src="{{asset('assets/img/' ~ item.img3)}}" alt="image partenaire médias" class="institutionnels">                      
                    </div>

                    {% if item.img4 is defined %}
                        <div class="carousel-item">
                            <img src="{{asset('assets/img/' ~ item.img4)}}" alt="image partenaire médias" class="institutionnels">                      
                        </div>
                        {% else %}
                        {% endif %}

                        {% if item.img5 is defined and item.img5 | length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img5)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                        {% if item.img6 is defined and item.img6 | length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img6)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                        
                        {% if item.img7 is defined and item.img7| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img7)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img8 is defined and item.img8| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img8)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img9 is defined and item.img9| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img9)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img10 is defined and item.img10| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img10)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img11 is defined and item.img11| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img11)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img12 is defined and item.img12| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img12)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img13 is defined and item.img13| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img13)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img14 is defined and item.img14| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img14)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img15 is defined and item.img15| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img15)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img16 is defined and item.img16| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img16)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img17 is defined and item.img17| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img17)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img18 is defined and item.img18| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img18)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img19 is defined and item.img19| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img19)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img20 is defined and item.img20| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img20)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img21 is defined and item.img21| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img21)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img22 is defined and item.img22| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img22)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img23 is defined and item.img23| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img23)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img24 is defined and item.img24| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img24)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img25 is defined and item.img25| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img25)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img26 is defined and item.img26| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img26)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img27 is defined and item.img27| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img27)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img28 is defined and item.img28| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img28)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img29 is defined and item.img29| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img29)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img30 is defined and item.img30| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img30)}}" alt="image partenaire médias" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                    
                {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-12 col-sm-12 col-lg-12 mt-5 mb-2 row1">
            <div class="container">
                <h6 class="h6 text-center partnerTitle ">Associatifs</h6>
            </div>
            <div class="container mt-3 d-flex justify-content-center">
             <div id="carouselExampleSlidesOnly" class="carousel slide text-center" data-ride="carousel" data-interval="3000" style=" height: 33vh !important;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                {% for item in associatifImages %}
            
                      <img src="{{asset('assets/img/' ~ item.img1)}}" alt="image partenaire associatifs" class="institutionnels">
                    </div>
                    <div class="carousel-item">
                        <img src="{{asset('assets/img/' ~ item.img2)}}" alt="image partenaire associatifs" class="institutionnels">                    
                    </div>

                    <div class="carousel-item">
                        <img src="{{asset('assets/img/' ~ item.img3)}}" alt="image partenaire associatifs" class="institutionnels">                      
                    </div>
                    {% if item.img4 is defined %}
                        <div class="carousel-item">
                            <img src="{{asset('assets/img/' ~ item.img4)}}" alt="image partenaire associatifs" class="institutionnels">                      
                        </div>
                        {% else %}
                        {% endif %}

                        {% if item.img5 is defined and item.img5 | length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img5)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                        {% if item.img6 is defined and item.img6 | length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img6)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                        
                        {% if item.img7 is defined and item.img7| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img7)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img8 is defined and item.img8| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img8)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img9 is defined and item.img9| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img9)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img10 is defined and item.img10| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img10)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img11 is defined and item.img11| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img11)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img12 is defined and item.img12| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img12)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img13 is defined and item.img13| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img13)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img14 is defined and item.img14| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img14)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img15 is defined and item.img15| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img15)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img16 is defined and item.img16| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img16)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img17 is defined and item.img17| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img17)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img18 is defined and item.img18| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img18)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img19 is defined and item.img19| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img19)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img20 is defined and item.img20| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img20)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img21 is defined and item.img21| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img21)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img22 is defined and item.img22| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img22)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img23 is defined and item.img23| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img23)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img24 is defined and item.img24| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img24)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img25 is defined and item.img25| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img25)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img26 is defined and item.img26| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img26)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img27 is defined and item.img27| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img27)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img28 is defined and item.img28| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img28)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img29 is defined and item.img29| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img29)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}                        
                        {% if item.img30 is defined and item.img30| length > 0 %}
                            <div class="carousel-item">
                                <img src="{{asset('assets/img/' ~ item.img30)}}" alt="image partenaire associatifs" class="institutionnels">                      
                            </div>
                        {% else %}
                        {% endif %}
                {% endfor %}

                    </div>
                </div>
            </div>
        </div>

{% endblock %}
